.pos .nav-tabs {
  border-bottom: 0px solid #ddd; 
}

.pos .breadcrumb-button-back {
display: inline-block;
vertical-align: top;
cursor: pointer;
}
.pos .pos-topheader{
    height: 10% !important;
}
.rightpane .col-md-11{
    max-height: 478px !important;
}
.pos .breadcrumb-back {
margin: 10px;
}

.pos .screen {
	position: absolute;
	text-align: center;
	top: 0px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.pos .screen .full-content {
	position: absolute;
	right: 0%;
	top: 5px;
	bottom: 0px;
	left: 0%;
    width:95%;
}
.pos .well {
    min-height: 0px;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.pos .pos-rightheader .username{
    color:#DDD;
    font-size:130%;
    margin-right:5%;
    line-height: 25%;
}
.pos .pos-rightheader .select_value{
    font-size:12px;
    cursor:pointer;
}
.pos .pos-rightheader {
    position: absolute;
    right:0;
    top:0;
    height:100%;
    left:60% !important;
}
.pos .pos-rightheader .clock{
    color:#DDD;
    font-size:115%;
    margin-right:5%;
    line-height: 48px;
}
.pos .category-list-custom{
    width:auto;
    display: inline-block;
    float:left;
}
.pos .category-simple-button{
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    margin-top:10px;
    padding-right:10px;
    padding: 5px;
    line-height: normal;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    cursor: pointer;
    color: black;
    background-color: #F2F2F2;
    float:left;
    border: 1px solid black;
    
}
.pos .breadcrumbs{
    width:20%
}
.pos .searchbox {
    display: inline-block;
    width: 30%;
}
.pos .category-simple-button:hover{
    background: #333333;
    color: white;
}
.pos .screen .content-calculate{
    height: 40%
}
.pos .sticy_tab{
    height: 20px;
}
.pos. .sticy_tab .div_1{
    display: inline-block;
    position: absolute;
}

.pos .screen .content-cell .content-container{
    height:100%;
    position:static !important;
}
.screen .screen-content{
    margin: 0px auto;
    max-width: 1024px;
    text-align: left;
    height: 100%;
    overflow: auto;
    position: relative;
    z-index: 1001;
}
.pos .client-line{
   width: 100%;
}
.pos .client-line:hover {
    background: #A9DFFC;
} 
.pos .clientlist-screen .customer-list{
    font-size: 16px;
    width: 100%;
    padding-top: 1px;
}
.pos .pos-content {
    background: white
}
.pos .searchbox input {
    width: 60%;
}
.pos .clientlist-screen .edit-buttons {
    position: relative;
}
.pos .label {
    color: #999;
}
.pos .done{
    background-color: #cccccc;
}
.pos .draft{
    background-color: #FFB6C1;
}
.pos .unsaved{
    background-color: red ;
}

.pos .paid{
    background-color: #cccccc ;
}
.pos .pos-leftpane{
    width: 30%;
}
.pos .rightpane{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
}
.pos .searchbox{
      display: block;
      width: 38%;
}

#customers .client-line.well.col-md-12{
    margin-bottom: 5px; 
}
.nav-tabs > li{
    margin-bottom: 405% !important;
}

/* Overwriting bootstrap */
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: -2px 0 0 !important;
    vertical-align: middle;

}

/* Responsive */

@media only screen and (max-width: 767px){
    .pos .paypad button{
        font-size: 10px;
    }
    #customers .screen .screen-content{
        height: 400px;
    }
    .pos .screen{
        max-height: 1024px;
    }
    .pos .pos-branding{
        width: 24%;
    }
    .pos .pos-rightheader {
        left: 22% !important;
        position: absolute;
        right: 0;
        top: 0;
    }
    .pos .pos-rightheader .username {
        font-size: 12px;
        margin-right: 4px;
    }
    .pos .pos-rightheader .clock {
        font-size: 10px;
        margin-right: 14px;
    }
    .pos .pos-rightheader .header-button{
        font-size: 10px;
    }
    .pos .order .orderline{
        padding: 1px 14px 23px;
        font-size: 10px;
    } 
    .pos .order,
    .pos .order .summary .line .subentry{
        font-size: 10px !important;
    }
    .col-md-11{
        width: 85%;
        margin-top: 8px;
    }
    .col-xs-1 {
        left: 87%;
        position: fixed !important;
        top: 485px;
        width: 8.33333%;
        z-index: 1010;
    }
    .pos #orders .client-line {
        width: 100%;
        font-size: 6px;
    }
    .pos .well{
        padding: 4px;
        margin-top: 4px;
    }
    .pos .product{
        float: left;
        margin-left: 10px;
        margin-right: -2px !important;
        width: 32%;
    }
    .pos .product .product-img{
        width: 100%;
    }


    .pos .pos-leftpane{
        border-right: none;
    }
    .pos .category-simple-button{
        font-size: 100%;
        width: 16%;
        margin-top: 13px;
    }
    .pos .rightpane-header{
          margin-top: 10.5%;
    }
    .pos .searchbox{
        position: absolute;
        top: -0.5%;
        left: 0%;
        width: 55% !important;
    }

    .pos .searchbox input{
          width: 175%;
          padding: 3px 20px 10px 38px;
    }
    .pos .breadcrumb-homeimg{
        width: 55%;
        margin: 10px 1px;
    }
    .pos .breadcrumb-button{
        padding:0px !important;
    }
    .rightpane .breadcrumb{
        margin-bottom: 8px;
    }
    .pos .breadcrumb-back {
        margin: 8px;
    }
    .pos .order{
        margin-right: 7px;
        margin-left: 7px;
        margin-top: 0px;
    }
    .pos .category-list-custom {
        margin-top: 1px;
        display: inline;
        float: none;
    }
    .pos .order .orderline.selected{
        font-size: 13px;
    }
    .pos .numpad {
        width: 40%;
        position: fixed !important;
        left: 31%;
        top: 562px;
    }
    .pos .numpad button { 
        float: left;
        margin: 3px 1px 2px;
        width: 20%;
    }
    .pos .paypad {
        top: 568px;
        width: 29%;
        position: fixed !important;
        right: 32px;
    }

    .pos #customer-down-panel .paypad
    {
        width: 43%;
        position: fixed !important;
        top: 551px;
        right:17%;
    }
    .pos #customer-down-panel div.paypad:nth-child(2)
    {
        width: 43%;
        position: fixed !important;
        top: 686px;
        right:17%;
    }
    .pos #order-down-panel .paypad{
        width: 43%;
        position: fixed !important;
        top: 637px;
        right:17%;
    }
    .pos .clientlist-screen .customer-list{
        font-size: 14px;
    }
    .screen .screen-content{
        width: 100%;
    }
    #customers .screen .screen-content{
        width: 99%;
    }
    .pos .clientlist-screen .client-details{
        width: 95%;
    }
    .pos .clientlist-screen .edit-buttons {
        position: relative;
        right: -2%;
    }
    .pos .clientlist-screen .client-details-right{
        float: left;
    }
    .pos .clientlist-screen .client-details input.client-sequence{
        float:left;
        width: 130%;
    }
    .pos .clientlist-screen .client-details-left{
        float:none;
    }
    .pos .clientlist-screen .client-details input.client-name{
        font-size: 12px;
        width: 130%;
    }
    .pos .clientlist-screen .client-details input.client-address-street{
        font-size: 12px;
        width: 130%;
    }
    .pos .clientlist-screen .client-details input.client-email{
        font-size: 12px;
        width: 130%;
    }
    .pos .clientlist-screen .client-details input.client-address-street2{
        font-size: 12px;
        width: 130%;
    }
    .pos .clientlist-screen .edit-buttons .button{
        font-size: 33px;
        margin-top: -6%;
    }
    
    #customers .col-md-4,
    #customers .col-md-3,
    #customers .col-md-5{
        display: inline;
        padding: 0px !important;
    }
    .pos #customers .client-line{
        font-size: 6.5px;
        width: 97%;
    }
    .pos .product-list-scroller{
        height: 407px; 
    }
    .pos .pos-logo{
        height: 26px;
    }
        
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    #customers .screen .screen-content{
        height: 400px;
    }
    .clientlist-screen.screen{
        margin-top: -1%;
    }
    #customers .subwindow-container-fix.touch-scrollable.scrollable-y{
        height: 483px;
    }
    .pos .pos-branding {
        width: 28%;
    }
    .pos .pos-logo{
        height: 35px;
    }
    .pos .pos-rightheader{
        position: absolute;
        left:28% !important;
        top:0;
        height: 100%;
    }
    .pos .order{
        font-size: 14px;
        margin: 4px;
    }
    .pos .order .orderline{
        padding: 3px 15px 19px;
    }
    .pos .breadcrumb-button{
        padding: 0  2px;
    }
    .pos .rightpane-header{
       margin-top: 10.5%;
    }
    .pos .searchbox{
        position: absolute;
        top: 0%;
        left: 0%;
    }
   
    .pos .searchbox input{
        width: 258%;
    }
    .pos .breadcrumb-button{
        padding: 0 10px;
        margin-left: 18px;
    }
    .pos .breadcrumb-button-back{
        padding: 0 8px;
    }
    .pos .product-list-container {
        margin-top: -4%;
    }
    .pos .product-list-scroller {
        box-sizing: border-box;
        width: 84%;
        height: 407px;
    }
    .pos .category-list-custom {
        margin-top: 1px;
        display: inline;
        float: none;
    }
    .col-xs-1 {
        top: 500px;
        font-size: 12px;
        left: 88%;
        position: fixed !important;
        z-index: 1010;
    }
    .col-md-11{
        margin-top: 13px;
    }
    .pos .product-list {
        text-align: center;
    }
    .pos .screen .content-calculate {
        height: 40%;
        margin-top: -8px;
        margin-left: 20px;
    }
    .pos .numpad{
        position: fixed !important;
        left: 290px;
        top: 571px;
    }
    .pos .numpad button{
        width: 23% !important;
    }
    .pos .paypad{
        width: 25% !important;
        position: fixed !important;
        top:  573px;
        right: 109px;
    }
    .pos #customer-down-panel .paypad
    {
        width: 25%;
        position: fixed !important;
        top: 574px;
        right:189px;
    }
    .pos #customer-down-panel div.paypad:nth-child(2)
    {
        width: 25%;
        position: fixed !important;
        top: 711px;
        right:189px;
    }
    .pos .client-line {
        margin-top: 4px;
        width: 84%;
        font-size: 6px;
    }
    .pos #orders .client-line{
        width: 100%;
        font-size: 7.3px;
        margin-top:0px;
    }
    .pos .clientlist-screen .client-details {
        width: 82%;
    }

    .pos .breadcrumb{
        height: 100%;
    }
    .pos .clientlist-screen .edit-buttons {
        right: 3px;
        top: -13px;
    }
    .pos .clientlist-screen .client-details-right{
        float: left;
    }
    .pos .clientlist-screen .client-details input.client-sequence{
        float:left;;
        width: 130%;
    }
    .pos .clientlist-screen .client-details-left{
        float:none;
    }
    .pos .clientlist-screen .client-details input.client-name{
        font-size: 14px;
        width: 130%;
    }
    .pos .clientlist-screen .client-details input.client-address-street{
        font-size: 14px;
        width: 130%;
    }
    .pos .clientlist-screen .client-details input.client-email{
        font-size: 14px;
        width: 130%;
    }
    .pos .clientlist-screen .client-details input.client-address-street2{
        font-size: 14px;
        width: 130%;
    }
    .pos .pos-rightheader .header-button{
        font-size: 120%;
    }
    
    .pos .category-simple-button{
        background-color: #f2f2f2;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        display: inline;
        flex-grow: 1;
        float: left;
        font-size: 13px;
        line-height: normal;
        margin: 13px 2px 2px;
        padding: 5px;
        position: relative;
        width: 14%;
    }
    .pos #order-down-panel .paypad{
        margin-left: 37%;
    }
    #customers .col-md-4,
    #customers .col-md-3,
    #customers .col-md-5{
        display: inline;
        padding: 0px !important;
    }
    .pos #customers .client-line{
        font-size: 8px;
    }


}


@media only screen and (min-width: 960px ) and (max-width: 1023px){
    .clientlist-screen.screen{
        margin-top: 1.5%;
    }
    .pos .pos-branding{
        width: 28%;
    }
    .pos .pos-rightheader{
        left: 40% !important;
    }
    .pos .pos-rightheader .header-button{
        font-size: 115%;
    }
    .breadcrumb{
        margin-bottom: 12px !important;
    }
    .pos .searchbox input {
        width: 90%;
        margin: 4px -8px 4px 4px;
        font-size: 100%;
    }
    .pos .product .product-img{
        height: 100%;
    }
    .pos .product{
        float:left;
        width: 22%;
        height: 85px;
        font-size: 10px;
        line-height: 11px;
    }
    .pos .product-list-scroller{
        height: 105%;
        width: 87%;
    }
    .pos .product-list{
        text-align: center;
        width: 101%;
    }
    .col-xs-1{
        position: fixed !important; 
        left: 90%;
        top: 450px;
    }
    
    .pos .well{
        padding: 6px;
    }
    .pos .client-line {
        margin-top: 4px;
        width: 84%;
        font-size: 14px;
    }
    .pos .numpad button{
        height: 37px;
    }
    
    .pos .clientlist-screen .client-details {
        width: 82%;
    }
    .pos .clientlist-screen .edit-buttons {
        right: -10px;
        top: -13px;
    }
    .pos .clientlist-screen .client-details-right{
        float: left;
    }
    .pos .clientlist-screen .client-details input.client-sequence{
        float:left;
        width: 145%;
    }
    .pos .clientlist-screen .client-details-left{
        float:none;
    }
    .pos .clientlist-screen .client-details input.client-name{
        font-size: 14px;
        width: 145%;
    }
    .pos .clientlist-screen .client-details input.client-address-street{
        font-size: 14px;
        width: 145%;
    }
    .pos .clientlist-screen .client-details input.client-email{
        font-size: 14px;
        width: 145%;
    }
    .pos .clientlist-screen .client-details input.client-address-street2{
        font-size: 14px;
        width: 145%;
    }
    .pos .clientlist-screen .edit-buttons .button{
        font-size: 33px;
    }
    
    .pos #orders .client-line{
        font-size: 9px;
        width: 100%;
    }
    #customers .col-md-4,
    #customers .col-md-3,
    #customers .col-md-5{
        display: inline;
        padding: 0px !important;
        width: 25%;
    }
    .pos #customers .client-line{
        font-size: 11px;
    }
    .pos .paypad,
    .pos .numpad{
        margin-top:3%; 
    }
    .pos #products .paypad,
    .pos #products .numpad{
        margin-top:2%; 
    }
    .pos .product .product-img img{
        max-height: 62px;
    }
}



@media only screen and (min-width: 1024px ) and (max-width: 1279px){

    .pos .pos-branding{
        width: 28.5%;
    }
   
    .pos #customer-down-panel .paypad{
        width: 33% !important;
    }
    .pos #product-down-panel .numpad{
        position: fixed;
        left: 384px;
        width: 25%;
    }
    .pos #product-down-panel .paypad{
        position: fixed;
        width: 20% !important;
    }
    .pos .pos-rightheader{
        width: 61%;
        left: 39% !important;
        position: absolute;
        right: 0;
        top: 0;
    }
    .pos .rightpane-header{
        margin-bottom: 15px;
    }
    .pos .pos-rightheader .username{
        font-size: 17px;
        margin-right: 20px;
    }
    .pos .pos-rightheader .clock{
        font-size: 13px;
    }
    .pos .pos-rightheader .header-button{
        font-size: 16px;
    }
    .pos .searchbox input {
        width: 240px;
        font-size: 16px;
        margin: 4px;
        padding: 7px 20px 8px 38px;
    }
    .pos .product{
        width:22%;
        height: 83px;
        margin: 5px 0px 5px 0px;
        float:left;
        line-height: 11px;
    }
    .pos .product-list-container{
        width: 95%;
    }
    .pos .product-list {
        padding: 2px 2px 2px 20px;
        text-align: center;
        width: 104%;
    }
    .pos .product-list-scroller{
        height: 100%;
    }
     .pos .client-line {
        width: 103%;
        font-size: 9px;
    }
    .col-md-11{
        width: 85%;
    }
    .col-xs-1 {
        font-size: 100%;
        position: fixed !important;
        left: 90%;
        top: 450px;
        z-index: 1010;
    }
    .pos .numpad,
    .pos .paypad{
        margin-top: 0px;
    }
    .pos .paypad{
        width: 28% !important ;
    }

    .pos .numpad button{
        height: 37px;
        width: 23%;
    }
    #customers .screen .screen-content{
        width: 95%;
        margin-left: 0;
    }

    .pos .clientlist-screen .customer-list {
        font-size: 14px;
        padding-top: 1px;
        width: 95%;
    }
    .nav-tabs > li {
        float: right;
        margin-bottom: -1px;
        margin-right: -100%;
    }
    #myTab .sideways{
        position: relative;
        top: -36px;
    }
    .pos .clientlist-screen .client-details {
        width: 90%;
    }
    .client-details-box{
        margin-top: 13px;
    }
    .pos .clientlist-screen .edit-buttons{
        position: relative;
        top: 4px;
        left: -44px;
    }
    .pos .clientlist-screen .client-details input.client-sequence{
        width: 99%;
    }
    .pos .clientlist-screen .client-details input.client-name {
        float: left;
        font-size: 14px;
        width: 100%;
    }
    .pos .clientlist-screen .client-details input.client-address-street{
        float: left;
        font-size: 14px;
        width: 100%;
    }
    .pos .clientlist-screen .client-details input.client-email{
        width: 100%;
        font-size: 14px;
        margin-left: 20px;
    }
    .pos .clientlist-screen .client-details input.client-address-street2{
        width: 100%;
        font-size: 14px;
        margin-left: 20px;
    }
    .pos #orders .client-line {
        width: 100%;
        font-size: 9.4px;
    }
    #customers .col-md-4,
    #customers .col-md-5,
    #customers .col-md-3{
        width: 25%;
        display: inline;
        padding-left: 0px !important;
    }
    .pos .input-button{
        font-size: 22px;
    }
    .pos .product .product-img img{
        max-height: 62px;
    }
    .breadcrumb img{
        width: 40%;
    }


}
@media screen and (min-width: 1280px){
    #customers .well .col-md-4,
    #customers .well .col-md-3,
    #customers .well .col-md-5{
        width: 25% !important;
        font-size: 12.5px;
    }
   .pos #orders .client-line{
        font-size: 12.8px;
   }
   .pos #customers .client-line{
        width: 99.5%;
   }
   .nav.nav-tabs.tabs-right.sideways{
        right: 23px;
       
    }
    .pos .numpad button{
        height: 40px !important;
    }
    .pos .product{
        font-size: 10px;
        line-height: 80px;
        height: 100px;
    }
    .pos .product .product-img img{
        max-height: 70px !important;
    }
    .pos .breadcrumb{
        height: 35px;
    }
    .product-list-container{
        height: 110%;
    }
    .pos .numpad,
    .pos .paypad{
        margin-top: 32px;

    }
    .col-xs-1{
        position: fixed !important; 
        top: 450px;
        left: 94%;
    }
    .pos .rightpane-header{
        margin-bottom: 13px;
    }
    .pos #customer-down-panel .numpad, 
    .pos #customer-down-panel .paypad{
        margin-top: 8px;
    }
}

